example
coverage
node_modules
build
*.tgz
.DS_Store
.git
.github
.gitignore
.nvmrc
.tool-versions
.watchmanconfig
.yarn
.yarnrc.yml
turbo.json
lefthook.yml
jsdoc.json
header_template.txt
babel.config.js
CONTRIBUTING.md
MIGRATION_SUMMARY.md
NEW_ARCHITECTURE.md
scripts
android/build
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
android/app/build
ios/build
**/__tests__
**/__fixtures__
**/__mocks__
**/.*